<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 7a3578bf9335b01600a2dd01c49a1362e38717a7
body {
	margin: 0;
	padding: 0;
	
	font-size: 12px;
	font-weight: 200;
	color: #454545;
}
<<<<<<< HEAD
=======
=======
body {
	margin: 0;
	padding: 0;
	
	font-size: 12px;
	font-weight: 200;
	color: #454545;
}
>>>>>>> 28bc26aadc4a73a256d9c385a8e3a0461cab5e29
>>>>>>> 7a3578bf9335b01600a2dd01c49a1362e38717a7
