@charset "utf-8";
/* CSS Document */

#layout{
	display:block;
	width:900px;
	margin:0 auto;
	//background-color:#999;
	border:solid;
	border-width:1px;
}

#header{
	width:inherit;
	height:150px;
	//background-color:lightblue;
	border:solid;
	border-width:1px;
	margin:0;
	padding:0;
}

#contents{
	overflow:auto;
	height:100%;
	//background-color:lightgreen;
	width:inherit;	
	border:solid;
	border-width:1px;	
	position:relative;	
}

#menu{
	background-color:lightblue;
	display:block;
	width:20%;
	float:left;
	height:100%;
	border:solid;
	border-width:1px;
	position:relative;
	height:inherit;	
}

#container{
	background-color:yellow;
	display:inline;
	width:80%;
	height:100%;
	float:none;
	border:solid;
	border-width:1px;
	position:relative;
	height:inherit;	
}

#footer{
	border:solid;
	width:900px;
	display:block;
	float:none;
	margin:0 auto;
	text-align:center;
	height:10%;
	//background-color:lightblue;
	border-width:1px;
	position:relative;
	bottom:0px;
	
}


