@charset "utf-8";
/* CSS Document */

#layout{
	display:block;
	width:900px;
	margin:0 auto;
	//background-color:#999;
	border:solid;
	border-width:1px;
}


#header{
	width:inherit;
	height:150px;
	//background-color:lightblue;
	border:solid;
	border-width:1px;
}

#contents{
	//background-color:lightgreen;
	width:inherit;	
	border:solid;
}

#menu{
	//background-color:lightblue;
	display:block;
	width:20%;
	float:left;
	height:inherit;
	border:solid;
	border-width:1px;	
}

#container{
	//background-color:yellow;
	display:inline;
	width:80%;
	height:inherit;
	//float:left;
	border:solid;
	border-width:1px;
}

#footer{
	border:solid;
	width:900px;
	display:block;
	//margin:0 auto;
	text-align:center;
	//background-color:lightblue;
	border-width:1px;
	
}


